@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

.smn_navBar {
	background-color: #FFFFFF;
	width: 90%;
	border: 0px solid;
	margin: 10px auto;
	border-radius: 4px;
}

.smn_navBar input {
	width: 100%;
	font-weight: lighter;
}

.smn_container {
	width: 100%;
	margin: 0 auto;
	text-align: left;
}

.smn_submitBtn {
	background-color: #F08080;
	border: 0px;
	margin: 10px 0;
	font-weight: bolder;
}

.smn_submitBtn:hover {
	background-color: #D87373;
}

.smn_topBottomMargin {
	margin: 10px 0;
}

.smn_carousel {
	height: 900px;
}

.smn_carousel-caption {
  	z-index: 10;
}

.smn_carousel .item {
  	height: 900px;
  	background-color: #777;
}

.smn_carousel-inner > .item > img {
	min-width: 100%;
  	height: 500px;
}

.smn_navbar-brand {
	font-size: 24px;
}

.smn_navbar-right {
	width: 25%;
}

.navbar-inverse .smn_navbar-brand:hover {
	color: black;
}

.col-wrapper{
	width:90%;
	margin:0 auto;
}

.col{
	margin:10px 0; 
	float:left; display:inline;
}

.col-670{
	width:60%;
}

.col-250{
	width:40%;
	 background:#999;
}
